html,
body {
	padding: 0 !important;
	margin: 0 !important;
	font-family: Poppins, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	/* overflow: hidden; */
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
	box-shadow: inset 0 0 5px rgb(196, 193, 193);
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #409de0;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #5eb7f7;
}
